<form id="form-upsert" action="" method="POST">
    <div class="form-group">
        <label for="ipt_name">Faculdade</label>
        <input type="hidden" name="crud" value="{{crud}}" >
        <input type="hidden" name="matricula" value="{{matricula}}" required="required">
        <input type="text" name="aluno" id="ipt_name" class="form-control" value="{{aluno}}" required="required">
    </div>
    <div class="form-group">
        <label for="ipt_price">Valor</label>
        <input type="number" name="ano" id="ipt_ano" min="0" step="0.01" class="form-control" value="{{semestre}}">
    </div>
</form>

<form id="form-list" action="" method="POST">
    <input type="hidden" name="crud" value="select" >
</form>

<input type="submit" name="enviar" value="{{btn}}" form="form-upsert" class="btn btn-primary">
<input type="submit" name="enviar" value="Ver Produtos" form="form-list" class="btn btn-warning float-right">